<div class="container mt-3">
    <mat-toolbar>
        <span>Movies List</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary"  >Add Movie</button>
    </mat-toolbar>


    <div class="mat-elevation-z8">
        <table>
            <ng-container >
                <th mat-header-cell *matHeaderCellDef >Movie Name</th>
                <td mat-cell >Movie name form data</td>
            </ng-container>

            <ng-container >
                <th mat-header-cell *matHeaderCellDef >Language</th>
                <td mat-cell >Movie language</td>
            </ng-container>

            <ng-container >
                <th mat-header-cell *matHeaderCellDef >Movie quality</th>
                <td mat-cell >Movie quality</td>
            </ng-container>

            <ng-container >
                <th mat-header-cell *matHeaderCellDef >400mb link</th>
                <td mat-cell >Movie 400mb link</td>
            </ng-container>
        </table>
    </div>
</div>