<mat-toolbar>
    <span>Tamil Blasters</span>
</mat-toolbar>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="d-flex justify-content-center align-items-center text-align-center">
                    <h1 style="font-size: 12px; font-weight: 600; margin-bottom: 0px;">
                        <span style="color: red;"> DOWNLOAD AND WATCH ONLINE ON LATEST MOVIES</span> - <span
                            style="color: blue;"> JOIN TELEGRAM FOR UPDATES </span>
                    </h1>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="d-flex justify-content-center align-items-center text-align-center">
                    <h1 style="font-size: 13px; font-weight: 600;">
                        Moviename(year) print type - [1080P-[Tamil+Telugu]-1.4gb] -
                        [720P-[Tamil+Telugu]-700mb ] - [360P-[Tamil+Telugu]- 400mb ]
                    </h1>
                </div>
            </div>
        </div>

        <div class="col-md-4" >

        </div>

    </div>
</div>